/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5; 
  background: #333 url(../images/debut_dark.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: #6d6d6d;
}

section.infocard {
    background-color: #fff;
    width: 420px;
    padding: 2em;
    margin: 4em auto 1em auto;
    border-radius: 6px;
    box-shadow: 0 0 15px #000;
    border: 1px solid #333;
}

#projectcard {
  margin: 1em auto;
}

div.cell {
    display: table-cell;
    vertical-align: top;
}

#mugcell {
    width: 0;
}

#mug {
    width: 120px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul#info, ul#projects {
    margin: 0;
    padding: 0;
}

ul#info li {
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0.25em 0;
    background-position: 0, 8px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
ul#info li#location {
    background-image: url(../images/location.png);
}
ul#info li#github {
    background-image: url(../images/github.png);
}
ul#info li#stackoverflow {
    background-image: url(../images/stackoverflow.png);
}
ul#info li#careers {
    background-image: url(../images/careers.png);
}
ul#info li#linkedin {
    background-image: url(../images/linkedin.png);
}
ul#info li#twitter {
    background-image: url(../images/twitter.png);
}

ul#projects li {
    height: 57px;
    list-style: none;
    padding: 0 0 0 75px;
    margin: 0.25em 0;
    background-position: 0, 50%;
    background-repeat: no-repeat;
    background-size: 57px 57px;
    border: 1px solid #FFF;
    border-radius: 6px;
}
ul#projects li#cleverclues {
    background-color: #C50021;
    background-image: url(../images/cleverclues-appicon.png);
}
ul#projects li#cleverclues a {
  color: #fff;
}
/* COMMON STYLES */

a {
    color: #4183c4;
}

h1 {
  font-size: 1.2em;
  margin: 0 0 0.25em 0;
} 
h2 {
  font-size: 1.1em;
  margin: 0 0 0.25em 0;
} 

